{% extends "layout.html" %}

{% block title %}
 Tweet
{% endblock %}

{% block content %}
 <h1 class="text-center mt-4">Welcome to Tweet</h1>
 <h2 class="text-center mt-4">
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">Back to Tweet List</a>
</h2>
{% endblock %}